<div class="product-expanded-outer-wrapper" product-id="{{productId}}">
    <article class="product-expanded-wrapper resetfloat">
        <div class="pointer">
            <div class="close"><i class="fa fa-fw fa-2x fa-times-circle" onclick="inlineProduct.close()"></i></div>
        </div>
        <div class="product-image">
            <a title="{{Name}}" href="{{ProductUrl}}">
                <img class="lazyimg" title="{{Name}}" data-original="{{Images.0.Url}}" src="{{Images.0.Url}}"
                     alt="{{Name}}" style="display: block;">
            </a>
            <div class="product-thumbnails-wrapper">
                {{#each Images}}
                <li class="number-{{@index}}"><img src="{{this.Url}}"></li>
                {{/each}}
            </div>
        </div>
        <div class="product-info">
            <div class="product-name" data-equalizer-watch="list-category">
                <h3>
                    <a title="{{Name}}" data-productid="{{Id}}"
                       href="{{ProductUrl}}">{{Name}}</a>
                </h3>
                <span class="product-subname">{{Subname}}</span>
                <div>
                    {{{unescape ShortDescription}}}
                </div>
            </div>
        </div>
        <div class="product-price">
                <div class="price-promotion">
                <span id="ctl00_main_ctl02_ctl03_labProductListPrice" class="price-amount">
                    {{#ifValue DiscountedPrice equals="-1"}}
                        {{#if (isVatIncluded)}}
                            {{PriceString}}
                        {{else}}
                            {{ PriceStringWithoutVat }}
                        {{/if}}
                    {{else}}
                        {{#if (isVatIncluded)}}
                            {{DiscountedPriceString}}
                        {{else}}
                            {{DiscountedPriceStringWithoutVat}}
                        {{/if}}
                    {{/ifValue}}
                </span>
                </div>
            </div>
        <div class="product-buttons">
            <a class="buy-button" onclick="AddItemToCart(this,'', '{{Id}}', '{{currentCulture}}', null); ">
                <span>{{translate "buyButton"}}</span>
            </a>
            <a class="button-info" href="{{ProductUrl}}">
                <span>{{translate "infoButton"}}</span>
            </a>
        </div>
    </article>
</div>