html.page-responsive-checkout,
html.page-responsive-orderconfirmed {

  // Numbered bullets
  h2.component-header {
    span.component-header-number {
      background-color: $js-checkout-header-number-color;
    }
  }

  // Big checkout button
  .form-button.form-button-checkout {
    background-color: $js-checkout-checkout-background-color;
    &:focus {
      background-color: darken($js-checkout-checkout-background-color, $js-checkout-form-button-factor);
    }
  }

  // Country selector - Active item
  .country-selector-item-link.country-selector-item-link-selected {
    background-color: $js-checkout-country-selector-item-active-background-color;
    color: $js-checkout-country-selector-item-active-color;
  }

  // Payment selector - Active item
  .payment-selector-wrapper {
    .payment-selector-item.payment-selector-item-selected, .payment-selector-item-link.payment-selector-item-link-selected {
      background-color: $js-checkout-payment-selector-item-active-background-color;
      color: $js-checkout-payment-selector-item-active-color;
      .payment-selector-item-options {
        background-color: lighten($js-checkout-payment-selector-item-active-background-color,5%);
        //border-top: 1px solid darken($js-checkout-payment-selector-item-active-background-color, 10%);
      }
    }
  }

  // Freight selector - Active item
  .freight-selector-wrapper {
    .freight-selector-item {
      .freight-selector-item-link.aspNetDisabled {
        background-color: $js-checkout-freight-selector-item-active-background-color;
        color: $js-checkout-freight-selector-item-active-color;
      }
    }
  }

  //
  //  Free Freight Message
  //
  /*
  .responsive-free-freight.responsive-free-freight-placement-cartsummary,
  .responsive-free-freight.responsive-free-freight-placement-orderconfirmation {
    color: $js-checkout-freefreight-background-color;
    background-color: lighten($js-checkout-freefreight-background-color, 45%);
    border: 1px solid lighten($js-checkout-freefreight-background-color, 35%);

    &.responsive-free-freight-limit-reached {
      background-color: lighten($js-checkout-freefreight-reached-background-color, 50%);
      border: 1px solid lighten($js-checkout-freefreight-reached-background-color, 15%);
      color: $js-body-font-color;
    }
  }
  */
}

